# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.2048_Boubble.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Unity Game\2048_Boubble\.idea\.idea.2048_Boubble\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
